name: SonarCloud Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  sonarcloud:
    name: SonarCloud Scan
    runs-on: ubuntu-latest

    steps:
      # Step 1: GitHub repo checkout
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: SonarCloud scan (NO Maven)
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=unzilakhanzada_LegacySystem
            -Dsonar.organization=unzilakhanzada
            -Dsonar.sources=.

